$theme-background : grey;
$theme_color : #0070A8;
$background-color : #ff0;
$white : #fff;
$border-color : #ddd;
$header-text-color : #0071A8;
$sidebar-background-color : #2F3A40;
$black : #000;
$description-color : #5c5c5c;
